DFNS_API_URL='https://api.dfns.ninja'
DFNS_ORG_ID='your-org-id'
DFNS_CRED_ID='Y2kt...<redacted>...'
DFNS_PRIVATE_KEY='-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAxWRXN5iLhFyIucblxPY7zjbSKc3qpjcnF9g2pdN+HcMhH+hK
Q3wcpOIswNuCxBRm39SHJdlNsWx5lKdEKgml7uPDxO2YoU8kbyygkWczxfzSDlRh
... <redacted> ...
WsLi69hdaicjD72EXWK2+dfKsBZNdx2UwFm3b0OtptAZzE8cV0MHh26iEgerlkcH
lVoZStj5fsYOQlKmQJl6JHTOARAHmk8OL4LyFDI9dp8V15UqXgo=
-----END RSA PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...<redacted>...'

POLYMESH_WALLET_ID='<redacted>' # Optional: specify to select a particular wallet
# OR
DFNS_USER_ID='<redacted>' # Optional: specify to select a particular user (name or ID)

POLYMESH_NODE_URL='wss://testnet-rpc.polymesh.live/'
