DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID='or-...'
DFNS_CRED_ID='Y2kt...'
DFNS_PRIVATE_KEY='-----BEGIN EC PRIVATE KEY-----
...
-----END EC PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...'

ETHEREUM_WALLET_ID='wa-...'
