DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID=''
DFNS_CRED_ID=''
DFNS_PRIVATE_KEY=''
DFNS_AUTH_TOKEN=''

# Three Dfns wallets representing the DvP parties (already funded).
ALICE_WALLET_ID=''
BOB_WALLET_ID=''
OPERATOR_WALLET_ID=''

# Canton participant + OAuth (used only for SDK queries; Dfns signs the writes).
CANTON_LEDGER_API='https://apis-byov.validator.xxxx.canton.mainnet.kiln.fi/api/json-api'
OPEN_ID_DISCOVERY_URL='https://xxxx.us.auth0.com/.well-known/openid-configuration'
OAUTH_CLIENT_ID=''
OAUTH_CLIENT_SECRET=''
OAUTH_AUDIENCE='https://canton.network.global'

# DvP: alice delivers DELIVER_AMOUNT DELIVER_INSTRUMENT, bob pays PAY_AMOUNT PAY_INSTRUMENT.
DELIVER_INSTRUMENT='DfnsToken2'
DELIVER_AMOUNT='20'
DELIVER_REGISTRY_URL='https://api.utilities.digitalasset-dev.com/api/token-standard/v0/registrars/dfnsdev1::1220...'

PAY_INSTRUMENT='Amulet'
PAY_AMOUNT='2'
PAY_REGISTRY_URL='https://scan.sv.dev.global.canton.network.digitalasset.com'
