DFNS_API_URL='https://api.dfns.io'
DFNS_CRED_ID='...'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...'

POLYMESH_SENDER_WALLET_ID='wa-...'
POLYMESH_RECEIVER_WALLET_ID='wa-...'
POLYMESH_NODE_URL='https://testnet-rpc.polymesh.live/http'
POLYMESH_ASSET_TICKER='DFNSTEST'
