REACT_APP_DFNS_ORG_ID='or-...'
REACT_APP_DFNS_API_URL='https://api.dfns.io'
REACT_APP_DFNS_GOOGLE_OAUTH_CLIENT_ID='185321228227-mh9v8d2i71fbhc3r9lkst9ci2n5i5rfn.apps.googleusercontent.com'
REACT_APP_PASSKEYS_RELYING_PARTY_ID='localhost'
REACT_APP_PASSKEYS_RELYING_PARTY_NAME='Demo'
