DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID='or-...'
DFNS_CRED_ID='...'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...'

ETHEREUM_WALLET_ID='wa-...'
BASE_WALLET_ID='wa-...'
ETHEREUM_NODE_URL='https://ethereum-sepolia.publicnode.com'
