DFNS_API_URL='https://api.dfns.ninja'
DFNS_APP_ID='<redacted>'
DFNS_CRED_ID='<redacted>'
DFNS_PRIVATE_KEY='<redacted>'
DFNS_AUTH_TOKEN='<redacted>'
POLYGON_MUMBAI_WALLET_ID='<redacted>'
POLYGON_MUMBAI_PROVIDER_URL='https://rpc.ankr.com/polygon_mumbai'
ALCHEMY_API_KEY='<redacted>'
ETHERSCAN_API_KEY='<redacted>'
