DFNS_API_URL='https://api.dfns.ninja'
DFNS_ORG_ID='or-gcnp5...<redacted>...'
DFNS_CRED_ID='Y2kt...<redacted>...'
DFNS_PRIVATE_KEY='-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAxWRXN5iLhFyIucblxPY7zjbSKc3qpjcnF9g2pdN+HcMhH+hK
Q3wcpOIswNuCxBRm39SHJdlNsWx5lKdEKgml7uPDxO2YoU8kbyygkWczxfzSDlRh
... <redacted> ...
WsLi69hdaicjD72EXWK2+dfKsBZNdx2UwFm3b0OtptAZzE8cV0MHh26iEgerlkcH
lVoZStj5fsYOQlKmQJl6JHTOARAHmk8OL4LyFDI9dp8V15UqXgo=
-----END RSA PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...<redacted>...'

SOLANA_WALLET_ID='<redacted>'

# if not provided, the program will prompt to create one
SOLANA_NONCE_ACCOUNT_ADDRESS='<redacted>'

DFNS_ORG_ID_HOT='or-gcnp5...<redacted>...'
DFNS_CRED_ID_HOT='Y2kt...<redacted>...'
DFNS_PRIVATE_KEY_HOT='-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAxWRXN5iLhFyIucblxPY7zjbSKc3qpjcnF9g2pdN+HcMhH+hK
Q3wcpOIswNuCxBRm39SHJdlNsWx5lKdEKgml7uPDxO2YoU8kbyygkWczxfzSDlRh
... <redacted> ...
WsLi69hdaicjD72EXWK2+dfKsBZNdx2UwFm3b0OtptAZzE8cV0MHh26iEgerlkcH
lVoZStj5fsYOQlKmQJl6JHTOARAHmk8OL4LyFDI9dp8V15UqXgo=
-----END RSA PRIVATE KEY-----'
DFNS_AUTH_TOKEN_HOT='eyJ0...<redacted>...'
SOLANA_HOT_NONCE_CREATOR_WALLET_ID='<redacted>'

SOLANA_TRANSFER_DESTINATION='5TKe7FHX4dPq...Jms2GAoWeVp'
SOLANA_TRANSFER_AMOUNT='1000000'