DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID='or-xxxxx-xxxxx-xxxxxxxxxxxxxxxx'
DFNS_CRED_ID='<your service account signing key cred ID>'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
<your service account private key>
-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='<your service account auth token, starts with eyJ0...>'

SOLANA_WALLET_ID='wa-xxxxx-xxxxx-xxxxxxxxxxxxxxxx'
