DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID='or-...'
DFNS_CRED_ID='...'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...'

ALGORAND_WALLET_ID_1='wa-...'
ALGORAND_WALLET_ID_2='wa-...'
ALGORAND_NODE_URL='https://testnet-api.algonode.cloud'
ALGORAND_NODE_API_KEY=''
