DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID='or-...'
DFNS_CRED_ID='...'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...'

CANTON_WALLET_ID='wa-...'

CANTON_LEDGER_API='https://apis-byov.validator.xxxx.canton.mainnet.kiln.fi/api/json-api'
CANTON_VALIDATOR_API='https://apis-byov.validator.xxxx.canton.mainnet.kiln.fi'
OPEN_ID_DISCOVERY_URL='https://xxxx.us.auth0.com/.well-known/openid-configuration'
OAUTH_CLIENT_ID='...'
OAUTH_CLIENT_SECRET='...'
OAUTH_AUDIENCE='https://canton.network.global'
OAUTH_USER_ID='...'

TRANSFER_FACTORY_REGISTRY_URL='https://scan.sv.dev.global.canton.network.digitalasset.com'
