DFNS_API_URL='https://api.dfns.io'
DFNS_CRED_ID='...'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='eyJ0...'

IOTA_WALLET_ID='wa-...'
IOTA_RPC_URL='https://rpc.testnet.osmosis.zone'

# Set to true if you only want to build the transaction without sending it to the network.
# Can be broadcasted later using DFNS broadcast API
BUILD_ONLY=false
